In [1]:
import numpy

In [2]:
import pandas

In [3]:
import pgmpy

In [5]:
data = pandas.read_csv("Bank_Defaults.csv")

In [6]:
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,married,tertiary,no,307,yes,no,cellular,14,may,341,1,330,2,other,no
7,39,technician,married,secondary,no,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
8,41,entrepreneur,married,tertiary,no,221,yes,no,unknown,14,may,57,2,-1,0,unknown,no
9,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no
10,39,services,married,secondary,no,9374,yes,no,unknown,20,may,273,1,-1,0,unknown,no
11,43,admin.,married,secondary,no,264,yes,no,cellular,17,apr,113,2,-1,0,unknown,no
12,36,technician,married,tertiary,no,1109,no,no,cellular,13,aug,328,2,-1,0,unknown,no
13,20,student,single,secondary,no,502,no,no,cellular,30,apr,261,1,-1,0,unknown,yes
14,31,blue-collar,married,secondary,no,360,yes,yes,cellular,29,jan,89,1,241,1,failure,no
15,40,management,married,tertiary,no,194,no,yes,cellular,29,aug,189,2,-1,0,unknown,no
16,56,technician,married,secondary,no,4073,no,no,cellular,27,aug,239,5,-1,0,unknown,no
17,37,admin.,single,tertiary,no,2317,yes,no,cellular,20,apr,114,1,152,2,failure,no
18,25,blue-collar,single,primary,no,-221,yes,no,unknown,23,may,250,1,-1,0,unknown,no
19,31,services,married,secondary,no,132,no,no,cellular,7,jul,148,1,152,1,other,no
20,38,management,divorced,unknown,no,0,yes,no,cellular,18,nov,96,2,-1,0,unknown,no
21,42,management,divorced,tertiary,no,16,no,no,cellular,19,nov,140,3,-1,0,unknown,no
22,44,services,single,secondary,no,106,no,no,unknown,12,jun,109,2,-1,0,unknown,no
23,44,entrepreneur,married,secondary,no,93,no,no,cellular,7,jul,125,2,-1,0,unknown,no
24,26,housemaid,married,tertiary,no,543,no,no,cellular,30,jan,169,3,-1,0,unknown,no
25,41,management,married,tertiary,no,5883,no,no,cellular,20,nov,182,2,-1,0,unknown,no
26,55,blue-collar,married,primary,no,627,yes,no,unknown,5,may,247,1,-1,0,unknown,no
27,67,retired,married,unknown,no,696,no,no,telephone,17,aug,119,1,105,2,failure,no
28,56,self-employed,married,secondary,no,784,no,yes,cellular,30,jul,149,2,-1,0,unknown,no
29,53,admin.,married,secondary,no,105,no,yes,cellular,21,aug,74,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491,35,blue-collar,single,secondary,no,0,yes,no,cellular,16,apr,169,1,-1,0,unknown,no
4492,32,technician,single,secondary,no,309,yes,yes,cellular,16,apr,346,1,234,3,failure,no
4493,28,technician,single,tertiary,no,0,yes,no,unknown,4,jun,205,6,-1,0,unknown,no
4494,26,technician,single,secondary,no,668,yes,no,unknown,28,may,576,3,-1,0,unknown,yes
4495,48,management,married,tertiary,no,1175,yes,no,telephone,18,nov,1476,3,-1,0,unknown,no
4496,30,blue-collar,single,secondary,no,363,no,no,cellular,28,jul,171,3,-1,0,unknown,no
4497,31,entrepreneur,single,tertiary,no,38,no,no,cellular,20,nov,185,2,-1,0,unknown,no
4498,31,management,married,tertiary,no,1183,yes,no,unknown,27,may,676,6,-1,0,unknown,no
4499,45,blue-collar,divorced,primary,no,942,no,no,cellular,21,nov,362,1,-1,0,unknown,no
4500,38,admin.,married,secondary,no,4196,yes,no,cellular,12,may,193,2,-1,0,unknown,no
4501,34,management,married,tertiary,no,297,yes,no,cellular,26,aug,63,4,-1,0,unknown,no
4502,42,services,married,secondary,no,-91,yes,yes,cellular,5,feb,43,1,-1,0,unknown,no
4503,60,self-employed,married,primary,no,362,no,yes,cellular,29,jul,816,6,-1,0,unknown,yes
4504,42,blue-collar,single,secondary,no,1080,yes,yes,cellular,13,may,951,3,370,4,failure,yes
4505,32,admin.,single,secondary,no,620,yes,no,unknown,26,may,1234,3,-1,0,unknown,yes
4506,42,unemployed,divorced,tertiary,no,-166,no,no,cellular,29,aug,85,4,-1,0,unknown,no
4507,33,services,married,secondary,no,288,yes,no,cellular,17,apr,306,1,-1,0,unknown,no
4508,42,admin.,married,unknown,no,642,yes,yes,unknown,16,may,509,2,-1,0,unknown,no
4509,51,technician,married,tertiary,no,2506,no,no,cellular,30,nov,210,3,-1,0,unknown,no
4510,36,technician,divorced,secondary,no,566,yes,no,unknown,20,may,129,2,-1,0,unknown,no
4511,46,blue-collar,married,secondary,no,668,yes,no,unknown,15,may,1263,2,-1,0,unknown,yes
4512,40,blue-collar,married,secondary,no,1100,yes,no,unknown,29,may,660,2,-1,0,unknown,no
4513,49,blue-collar,married,secondary,no,322,no,no,cellular,14,aug,356,2,-1,0,unknown,no
4514,38,blue-collar,married,secondary,no,1205,yes,no,cellular,20,apr,45,4,153,1,failure,no
4515,32,services,single,secondary,no,473,yes,no,cellular,7,jul,624,5,-1,0,unknown,no
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [7]:
data['default'] = data['default'].astype('category')
data['default'] = data['default'].cat.codes

In [8]:
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,0,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,0,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,0,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,0,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,0,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,single,tertiary,0,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,married,tertiary,0,307,yes,no,cellular,14,may,341,1,330,2,other,no
7,39,technician,married,secondary,0,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
8,41,entrepreneur,married,tertiary,0,221,yes,no,unknown,14,may,57,2,-1,0,unknown,no
9,43,services,married,primary,0,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no
10,39,services,married,secondary,0,9374,yes,no,unknown,20,may,273,1,-1,0,unknown,no
11,43,admin.,married,secondary,0,264,yes,no,cellular,17,apr,113,2,-1,0,unknown,no
12,36,technician,married,tertiary,0,1109,no,no,cellular,13,aug,328,2,-1,0,unknown,no
13,20,student,single,secondary,0,502,no,no,cellular,30,apr,261,1,-1,0,unknown,yes
14,31,blue-collar,married,secondary,0,360,yes,yes,cellular,29,jan,89,1,241,1,failure,no
15,40,management,married,tertiary,0,194,no,yes,cellular,29,aug,189,2,-1,0,unknown,no
16,56,technician,married,secondary,0,4073,no,no,cellular,27,aug,239,5,-1,0,unknown,no
17,37,admin.,single,tertiary,0,2317,yes,no,cellular,20,apr,114,1,152,2,failure,no
18,25,blue-collar,single,primary,0,-221,yes,no,unknown,23,may,250,1,-1,0,unknown,no
19,31,services,married,secondary,0,132,no,no,cellular,7,jul,148,1,152,1,other,no
20,38,management,divorced,unknown,0,0,yes,no,cellular,18,nov,96,2,-1,0,unknown,no
21,42,management,divorced,tertiary,0,16,no,no,cellular,19,nov,140,3,-1,0,unknown,no
22,44,services,single,secondary,0,106,no,no,unknown,12,jun,109,2,-1,0,unknown,no
23,44,entrepreneur,married,secondary,0,93,no,no,cellular,7,jul,125,2,-1,0,unknown,no
24,26,housemaid,married,tertiary,0,543,no,no,cellular,30,jan,169,3,-1,0,unknown,no
25,41,management,married,tertiary,0,5883,no,no,cellular,20,nov,182,2,-1,0,unknown,no
26,55,blue-collar,married,primary,0,627,yes,no,unknown,5,may,247,1,-1,0,unknown,no
27,67,retired,married,unknown,0,696,no,no,telephone,17,aug,119,1,105,2,failure,no
28,56,self-employed,married,secondary,0,784,no,yes,cellular,30,jul,149,2,-1,0,unknown,no
29,53,admin.,married,secondary,0,105,no,yes,cellular,21,aug,74,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491,35,blue-collar,single,secondary,0,0,yes,no,cellular,16,apr,169,1,-1,0,unknown,no
4492,32,technician,single,secondary,0,309,yes,yes,cellular,16,apr,346,1,234,3,failure,no
4493,28,technician,single,tertiary,0,0,yes,no,unknown,4,jun,205,6,-1,0,unknown,no
4494,26,technician,single,secondary,0,668,yes,no,unknown,28,may,576,3,-1,0,unknown,yes
4495,48,management,married,tertiary,0,1175,yes,no,telephone,18,nov,1476,3,-1,0,unknown,no
4496,30,blue-collar,single,secondary,0,363,no,no,cellular,28,jul,171,3,-1,0,unknown,no
4497,31,entrepreneur,single,tertiary,0,38,no,no,cellular,20,nov,185,2,-1,0,unknown,no
4498,31,management,married,tertiary,0,1183,yes,no,unknown,27,may,676,6,-1,0,unknown,no
4499,45,blue-collar,divorced,primary,0,942,no,no,cellular,21,nov,362,1,-1,0,unknown,no
4500,38,admin.,married,secondary,0,4196,yes,no,cellular,12,may,193,2,-1,0,unknown,no
4501,34,management,married,tertiary,0,297,yes,no,cellular,26,aug,63,4,-1,0,unknown,no
4502,42,services,married,secondary,0,-91,yes,yes,cellular,5,feb,43,1,-1,0,unknown,no
4503,60,self-employed,married,primary,0,362,no,yes,cellular,29,jul,816,6,-1,0,unknown,yes
4504,42,blue-collar,single,secondary,0,1080,yes,yes,cellular,13,may,951,3,370,4,failure,yes
4505,32,admin.,single,secondary,0,620,yes,no,unknown,26,may,1234,3,-1,0,unknown,yes
4506,42,unemployed,divorced,tertiary,0,-166,no,no,cellular,29,aug,85,4,-1,0,unknown,no
4507,33,services,married,secondary,0,288,yes,no,cellular,17,apr,306,1,-1,0,unknown,no
4508,42,admin.,married,unknown,0,642,yes,yes,unknown,16,may,509,2,-1,0,unknown,no
4509,51,technician,married,tertiary,0,2506,no,no,cellular,30,nov,210,3,-1,0,unknown,no
4510,36,technician,divorced,secondary,0,566,yes,no,unknown,20,may,129,2,-1,0,unknown,no
4511,46,blue-collar,married,secondary,0,668,yes,no,unknown,15,may,1263,2,-1,0,unknown,yes
4512,40,blue-collar,married,secondary,0,1100,yes,no,unknown,29,may,660,2,-1,0,unknown,no
4513,49,blue-collar,married,secondary,0,322,no,no,cellular,14,aug,356,2,-1,0,unknown,no
4514,38,blue-collar,married,secondary,0,1205,yes,no,cellular,20,apr,45,4,153,1,failure,no
4515,32,services,single,secondary,0,473,yes,no,cellular,7,jul,624,5,-1,0,unknown,no
4516,33,services,married,secondary,0,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,1,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,0,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,0,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,0,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [9]:
data['marital'] = data['marital'].astype('category')
data['marital'] = data['marital'].cat.codes
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,1,primary,0,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,1,secondary,0,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,2,tertiary,0,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,1,tertiary,0,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,1,secondary,0,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,2,tertiary,0,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,1,tertiary,0,307,yes,no,cellular,14,may,341,1,330,2,other,no
7,39,technician,1,secondary,0,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
8,41,entrepreneur,1,tertiary,0,221,yes,no,unknown,14,may,57,2,-1,0,unknown,no
9,43,services,1,primary,0,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no
10,39,services,1,secondary,0,9374,yes,no,unknown,20,may,273,1,-1,0,unknown,no
11,43,admin.,1,secondary,0,264,yes,no,cellular,17,apr,113,2,-1,0,unknown,no
12,36,technician,1,tertiary,0,1109,no,no,cellular,13,aug,328,2,-1,0,unknown,no
13,20,student,2,secondary,0,502,no,no,cellular,30,apr,261,1,-1,0,unknown,yes
14,31,blue-collar,1,secondary,0,360,yes,yes,cellular,29,jan,89,1,241,1,failure,no
15,40,management,1,tertiary,0,194,no,yes,cellular,29,aug,189,2,-1,0,unknown,no
16,56,technician,1,secondary,0,4073,no,no,cellular,27,aug,239,5,-1,0,unknown,no
17,37,admin.,2,tertiary,0,2317,yes,no,cellular,20,apr,114,1,152,2,failure,no
18,25,blue-collar,2,primary,0,-221,yes,no,unknown,23,may,250,1,-1,0,unknown,no
19,31,services,1,secondary,0,132,no,no,cellular,7,jul,148,1,152,1,other,no
20,38,management,0,unknown,0,0,yes,no,cellular,18,nov,96,2,-1,0,unknown,no
21,42,management,0,tertiary,0,16,no,no,cellular,19,nov,140,3,-1,0,unknown,no
22,44,services,2,secondary,0,106,no,no,unknown,12,jun,109,2,-1,0,unknown,no
23,44,entrepreneur,1,secondary,0,93,no,no,cellular,7,jul,125,2,-1,0,unknown,no
24,26,housemaid,1,tertiary,0,543,no,no,cellular,30,jan,169,3,-1,0,unknown,no
25,41,management,1,tertiary,0,5883,no,no,cellular,20,nov,182,2,-1,0,unknown,no
26,55,blue-collar,1,primary,0,627,yes,no,unknown,5,may,247,1,-1,0,unknown,no
27,67,retired,1,unknown,0,696,no,no,telephone,17,aug,119,1,105,2,failure,no
28,56,self-employed,1,secondary,0,784,no,yes,cellular,30,jul,149,2,-1,0,unknown,no
29,53,admin.,1,secondary,0,105,no,yes,cellular,21,aug,74,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491,35,blue-collar,2,secondary,0,0,yes,no,cellular,16,apr,169,1,-1,0,unknown,no
4492,32,technician,2,secondary,0,309,yes,yes,cellular,16,apr,346,1,234,3,failure,no
4493,28,technician,2,tertiary,0,0,yes,no,unknown,4,jun,205,6,-1,0,unknown,no
4494,26,technician,2,secondary,0,668,yes,no,unknown,28,may,576,3,-1,0,unknown,yes
4495,48,management,1,tertiary,0,1175,yes,no,telephone,18,nov,1476,3,-1,0,unknown,no
4496,30,blue-collar,2,secondary,0,363,no,no,cellular,28,jul,171,3,-1,0,unknown,no
4497,31,entrepreneur,2,tertiary,0,38,no,no,cellular,20,nov,185,2,-1,0,unknown,no
4498,31,management,1,tertiary,0,1183,yes,no,unknown,27,may,676,6,-1,0,unknown,no
4499,45,blue-collar,0,primary,0,942,no,no,cellular,21,nov,362,1,-1,0,unknown,no
4500,38,admin.,1,secondary,0,4196,yes,no,cellular,12,may,193,2,-1,0,unknown,no
4501,34,management,1,tertiary,0,297,yes,no,cellular,26,aug,63,4,-1,0,unknown,no
4502,42,services,1,secondary,0,-91,yes,yes,cellular,5,feb,43,1,-1,0,unknown,no
4503,60,self-employed,1,primary,0,362,no,yes,cellular,29,jul,816,6,-1,0,unknown,yes
4504,42,blue-collar,2,secondary,0,1080,yes,yes,cellular,13,may,951,3,370,4,failure,yes
4505,32,admin.,2,secondary,0,620,yes,no,unknown,26,may,1234,3,-1,0,unknown,yes
4506,42,unemployed,0,tertiary,0,-166,no,no,cellular,29,aug,85,4,-1,0,unknown,no
4507,33,services,1,secondary,0,288,yes,no,cellular,17,apr,306,1,-1,0,unknown,no
4508,42,admin.,1,unknown,0,642,yes,yes,unknown,16,may,509,2,-1,0,unknown,no
4509,51,technician,1,tertiary,0,2506,no,no,cellular,30,nov,210,3,-1,0,unknown,no
4510,36,technician,0,secondary,0,566,yes,no,unknown,20,may,129,2,-1,0,unknown,no
4511,46,blue-collar,1,secondary,0,668,yes,no,unknown,15,may,1263,2,-1,0,unknown,yes
4512,40,blue-collar,1,secondary,0,1100,yes,no,unknown,29,may,660,2,-1,0,unknown,no
4513,49,blue-collar,1,secondary,0,322,no,no,cellular,14,aug,356,2,-1,0,unknown,no
4514,38,blue-collar,1,secondary,0,1205,yes,no,cellular,20,apr,45,4,153,1,failure,no
4515,32,services,2,secondary,0,473,yes,no,cellular,7,jul,624,5,-1,0,unknown,no
4516,33,services,1,secondary,0,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,1,tertiary,1,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,1,secondary,0,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,1,secondary,0,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,2,tertiary,0,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [10]:
data['education'] = data['education'].astype('category')
data['education'] = data['education'].cat.codes
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,1,0,0,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,1,1,0,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,2,2,0,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,1,2,0,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,1,1,0,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,2,2,0,747,no,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,1,2,0,307,yes,no,cellular,14,may,341,1,330,2,other,no
7,39,technician,1,1,0,147,yes,no,cellular,6,may,151,2,-1,0,unknown,no
8,41,entrepreneur,1,2,0,221,yes,no,unknown,14,may,57,2,-1,0,unknown,no
9,43,services,1,0,0,-88,yes,yes,cellular,17,apr,313,1,147,2,failure,no
10,39,services,1,1,0,9374,yes,no,unknown,20,may,273,1,-1,0,unknown,no
11,43,admin.,1,1,0,264,yes,no,cellular,17,apr,113,2,-1,0,unknown,no
12,36,technician,1,2,0,1109,no,no,cellular,13,aug,328,2,-1,0,unknown,no
13,20,student,2,1,0,502,no,no,cellular,30,apr,261,1,-1,0,unknown,yes
14,31,blue-collar,1,1,0,360,yes,yes,cellular,29,jan,89,1,241,1,failure,no
15,40,management,1,2,0,194,no,yes,cellular,29,aug,189,2,-1,0,unknown,no
16,56,technician,1,1,0,4073,no,no,cellular,27,aug,239,5,-1,0,unknown,no
17,37,admin.,2,2,0,2317,yes,no,cellular,20,apr,114,1,152,2,failure,no
18,25,blue-collar,2,0,0,-221,yes,no,unknown,23,may,250,1,-1,0,unknown,no
19,31,services,1,1,0,132,no,no,cellular,7,jul,148,1,152,1,other,no
20,38,management,0,3,0,0,yes,no,cellular,18,nov,96,2,-1,0,unknown,no
21,42,management,0,2,0,16,no,no,cellular,19,nov,140,3,-1,0,unknown,no
22,44,services,2,1,0,106,no,no,unknown,12,jun,109,2,-1,0,unknown,no
23,44,entrepreneur,1,1,0,93,no,no,cellular,7,jul,125,2,-1,0,unknown,no
24,26,housemaid,1,2,0,543,no,no,cellular,30,jan,169,3,-1,0,unknown,no
25,41,management,1,2,0,5883,no,no,cellular,20,nov,182,2,-1,0,unknown,no
26,55,blue-collar,1,0,0,627,yes,no,unknown,5,may,247,1,-1,0,unknown,no
27,67,retired,1,3,0,696,no,no,telephone,17,aug,119,1,105,2,failure,no
28,56,self-employed,1,1,0,784,no,yes,cellular,30,jul,149,2,-1,0,unknown,no
29,53,admin.,1,1,0,105,no,yes,cellular,21,aug,74,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491,35,blue-collar,2,1,0,0,yes,no,cellular,16,apr,169,1,-1,0,unknown,no
4492,32,technician,2,1,0,309,yes,yes,cellular,16,apr,346,1,234,3,failure,no
4493,28,technician,2,2,0,0,yes,no,unknown,4,jun,205,6,-1,0,unknown,no
4494,26,technician,2,1,0,668,yes,no,unknown,28,may,576,3,-1,0,unknown,yes
4495,48,management,1,2,0,1175,yes,no,telephone,18,nov,1476,3,-1,0,unknown,no
4496,30,blue-collar,2,1,0,363,no,no,cellular,28,jul,171,3,-1,0,unknown,no
4497,31,entrepreneur,2,2,0,38,no,no,cellular,20,nov,185,2,-1,0,unknown,no
4498,31,management,1,2,0,1183,yes,no,unknown,27,may,676,6,-1,0,unknown,no
4499,45,blue-collar,0,0,0,942,no,no,cellular,21,nov,362,1,-1,0,unknown,no
4500,38,admin.,1,1,0,4196,yes,no,cellular,12,may,193,2,-1,0,unknown,no
4501,34,management,1,2,0,297,yes,no,cellular,26,aug,63,4,-1,0,unknown,no
4502,42,services,1,1,0,-91,yes,yes,cellular,5,feb,43,1,-1,0,unknown,no
4503,60,self-employed,1,0,0,362,no,yes,cellular,29,jul,816,6,-1,0,unknown,yes
4504,42,blue-collar,2,1,0,1080,yes,yes,cellular,13,may,951,3,370,4,failure,yes
4505,32,admin.,2,1,0,620,yes,no,unknown,26,may,1234,3,-1,0,unknown,yes
4506,42,unemployed,0,2,0,-166,no,no,cellular,29,aug,85,4,-1,0,unknown,no
4507,33,services,1,1,0,288,yes,no,cellular,17,apr,306,1,-1,0,unknown,no
4508,42,admin.,1,3,0,642,yes,yes,unknown,16,may,509,2,-1,0,unknown,no
4509,51,technician,1,2,0,2506,no,no,cellular,30,nov,210,3,-1,0,unknown,no
4510,36,technician,0,1,0,566,yes,no,unknown,20,may,129,2,-1,0,unknown,no
4511,46,blue-collar,1,1,0,668,yes,no,unknown,15,may,1263,2,-1,0,unknown,yes
4512,40,blue-collar,1,1,0,1100,yes,no,unknown,29,may,660,2,-1,0,unknown,no
4513,49,blue-collar,1,1,0,322,no,no,cellular,14,aug,356,2,-1,0,unknown,no
4514,38,blue-collar,1,1,0,1205,yes,no,cellular,20,apr,45,4,153,1,failure,no
4515,32,services,2,1,0,473,yes,no,cellular,7,jul,624,5,-1,0,unknown,no
4516,33,services,1,1,0,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,1,2,1,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,1,1,0,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,1,1,0,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,2,2,0,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [11]:
data.default.unique()

array([0, 1], dtype=int64)

In [12]:
data.marital.unique()

array([1, 2, 0], dtype=int64)

In [13]:
data.education.unique()

array([0, 1, 2, 3], dtype=int64)

In [14]:
data['housing'] = data['housing'].astype('category')
data['housing'] = data['housing'].cat.codes
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,1,0,0,1787,0,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,1,1,0,4789,1,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,2,2,0,1350,1,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,1,2,0,1476,1,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,1,1,0,0,1,no,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,2,2,0,747,0,no,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,1,2,0,307,1,no,cellular,14,may,341,1,330,2,other,no
7,39,technician,1,1,0,147,1,no,cellular,6,may,151,2,-1,0,unknown,no
8,41,entrepreneur,1,2,0,221,1,no,unknown,14,may,57,2,-1,0,unknown,no
9,43,services,1,0,0,-88,1,yes,cellular,17,apr,313,1,147,2,failure,no
10,39,services,1,1,0,9374,1,no,unknown,20,may,273,1,-1,0,unknown,no
11,43,admin.,1,1,0,264,1,no,cellular,17,apr,113,2,-1,0,unknown,no
12,36,technician,1,2,0,1109,0,no,cellular,13,aug,328,2,-1,0,unknown,no
13,20,student,2,1,0,502,0,no,cellular,30,apr,261,1,-1,0,unknown,yes
14,31,blue-collar,1,1,0,360,1,yes,cellular,29,jan,89,1,241,1,failure,no
15,40,management,1,2,0,194,0,yes,cellular,29,aug,189,2,-1,0,unknown,no
16,56,technician,1,1,0,4073,0,no,cellular,27,aug,239,5,-1,0,unknown,no
17,37,admin.,2,2,0,2317,1,no,cellular,20,apr,114,1,152,2,failure,no
18,25,blue-collar,2,0,0,-221,1,no,unknown,23,may,250,1,-1,0,unknown,no
19,31,services,1,1,0,132,0,no,cellular,7,jul,148,1,152,1,other,no
20,38,management,0,3,0,0,1,no,cellular,18,nov,96,2,-1,0,unknown,no
21,42,management,0,2,0,16,0,no,cellular,19,nov,140,3,-1,0,unknown,no
22,44,services,2,1,0,106,0,no,unknown,12,jun,109,2,-1,0,unknown,no
23,44,entrepreneur,1,1,0,93,0,no,cellular,7,jul,125,2,-1,0,unknown,no
24,26,housemaid,1,2,0,543,0,no,cellular,30,jan,169,3,-1,0,unknown,no
25,41,management,1,2,0,5883,0,no,cellular,20,nov,182,2,-1,0,unknown,no
26,55,blue-collar,1,0,0,627,1,no,unknown,5,may,247,1,-1,0,unknown,no
27,67,retired,1,3,0,696,0,no,telephone,17,aug,119,1,105,2,failure,no
28,56,self-employed,1,1,0,784,0,yes,cellular,30,jul,149,2,-1,0,unknown,no
29,53,admin.,1,1,0,105,0,yes,cellular,21,aug,74,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491,35,blue-collar,2,1,0,0,1,no,cellular,16,apr,169,1,-1,0,unknown,no
4492,32,technician,2,1,0,309,1,yes,cellular,16,apr,346,1,234,3,failure,no
4493,28,technician,2,2,0,0,1,no,unknown,4,jun,205,6,-1,0,unknown,no
4494,26,technician,2,1,0,668,1,no,unknown,28,may,576,3,-1,0,unknown,yes
4495,48,management,1,2,0,1175,1,no,telephone,18,nov,1476,3,-1,0,unknown,no
4496,30,blue-collar,2,1,0,363,0,no,cellular,28,jul,171,3,-1,0,unknown,no
4497,31,entrepreneur,2,2,0,38,0,no,cellular,20,nov,185,2,-1,0,unknown,no
4498,31,management,1,2,0,1183,1,no,unknown,27,may,676,6,-1,0,unknown,no
4499,45,blue-collar,0,0,0,942,0,no,cellular,21,nov,362,1,-1,0,unknown,no
4500,38,admin.,1,1,0,4196,1,no,cellular,12,may,193,2,-1,0,unknown,no
4501,34,management,1,2,0,297,1,no,cellular,26,aug,63,4,-1,0,unknown,no
4502,42,services,1,1,0,-91,1,yes,cellular,5,feb,43,1,-1,0,unknown,no
4503,60,self-employed,1,0,0,362,0,yes,cellular,29,jul,816,6,-1,0,unknown,yes
4504,42,blue-collar,2,1,0,1080,1,yes,cellular,13,may,951,3,370,4,failure,yes
4505,32,admin.,2,1,0,620,1,no,unknown,26,may,1234,3,-1,0,unknown,yes
4506,42,unemployed,0,2,0,-166,0,no,cellular,29,aug,85,4,-1,0,unknown,no
4507,33,services,1,1,0,288,1,no,cellular,17,apr,306,1,-1,0,unknown,no
4508,42,admin.,1,3,0,642,1,yes,unknown,16,may,509,2,-1,0,unknown,no
4509,51,technician,1,2,0,2506,0,no,cellular,30,nov,210,3,-1,0,unknown,no
4510,36,technician,0,1,0,566,1,no,unknown,20,may,129,2,-1,0,unknown,no
4511,46,blue-collar,1,1,0,668,1,no,unknown,15,may,1263,2,-1,0,unknown,yes
4512,40,blue-collar,1,1,0,1100,1,no,unknown,29,may,660,2,-1,0,unknown,no
4513,49,blue-collar,1,1,0,322,0,no,cellular,14,aug,356,2,-1,0,unknown,no
4514,38,blue-collar,1,1,0,1205,1,no,cellular,20,apr,45,4,153,1,failure,no
4515,32,services,2,1,0,473,1,no,cellular,7,jul,624,5,-1,0,unknown,no
4516,33,services,1,1,0,-333,1,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,1,2,1,-3313,1,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,1,1,0,295,0,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,1,1,0,1137,0,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,2,2,0,1136,1,yes,cellular,3,apr,345,2,249,7,other,no

In [15]:
data.housing.unique()

array([0, 1], dtype=int64)

In [16]:
data['loan'] = data['loan'].astype('category')
data['loan'] = data['loan'].cat.codes
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,1,0,0,1787,0,0,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,1,1,0,4789,1,1,cellular,11,may,220,1,339,4,failure,no
2,35,management,2,2,0,1350,1,0,cellular,16,apr,185,1,330,1,failure,no
3,30,management,1,2,0,1476,1,1,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,1,1,0,0,1,0,unknown,5,may,226,1,-1,0,unknown,no
5,35,management,2,2,0,747,0,0,cellular,23,feb,141,2,176,3,failure,no
6,36,self-employed,1,2,0,307,1,0,cellular,14,may,341,1,330,2,other,no
7,39,technician,1,1,0,147,1,0,cellular,6,may,151,2,-1,0,unknown,no
8,41,entrepreneur,1,2,0,221,1,0,unknown,14,may,57,2,-1,0,unknown,no
9,43,services,1,0,0,-88,1,1,cellular,17,apr,313,1,147,2,failure,no
10,39,services,1,1,0,9374,1,0,unknown,20,may,273,1,-1,0,unknown,no
11,43,admin.,1,1,0,264,1,0,cellular,17,apr,113,2,-1,0,unknown,no
12,36,technician,1,2,0,1109,0,0,cellular,13,aug,328,2,-1,0,unknown,no
13,20,student,2,1,0,502,0,0,cellular,30,apr,261,1,-1,0,unknown,yes
14,31,blue-collar,1,1,0,360,1,1,cellular,29,jan,89,1,241,1,failure,no
15,40,management,1,2,0,194,0,1,cellular,29,aug,189,2,-1,0,unknown,no
16,56,technician,1,1,0,4073,0,0,cellular,27,aug,239,5,-1,0,unknown,no
17,37,admin.,2,2,0,2317,1,0,cellular,20,apr,114,1,152,2,failure,no
18,25,blue-collar,2,0,0,-221,1,0,unknown,23,may,250,1,-1,0,unknown,no
19,31,services,1,1,0,132,0,0,cellular,7,jul,148,1,152,1,other,no
20,38,management,0,3,0,0,1,0,cellular,18,nov,96,2,-1,0,unknown,no
21,42,management,0,2,0,16,0,0,cellular,19,nov,140,3,-1,0,unknown,no
22,44,services,2,1,0,106,0,0,unknown,12,jun,109,2,-1,0,unknown,no
23,44,entrepreneur,1,1,0,93,0,0,cellular,7,jul,125,2,-1,0,unknown,no
24,26,housemaid,1,2,0,543,0,0,cellular,30,jan,169,3,-1,0,unknown,no
25,41,management,1,2,0,5883,0,0,cellular,20,nov,182,2,-1,0,unknown,no
26,55,blue-collar,1,0,0,627,1,0,unknown,5,may,247,1,-1,0,unknown,no
27,67,retired,1,3,0,696,0,0,telephone,17,aug,119,1,105,2,failure,no
28,56,self-employed,1,1,0,784,0,1,cellular,30,jul,149,2,-1,0,unknown,no
29,53,admin.,1,1,0,105,0,1,cellular,21,aug,74,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491,35,blue-collar,2,1,0,0,1,0,cellular,16,apr,169,1,-1,0,unknown,no
4492,32,technician,2,1,0,309,1,1,cellular,16,apr,346,1,234,3,failure,no
4493,28,technician,2,2,0,0,1,0,unknown,4,jun,205,6,-1,0,unknown,no
4494,26,technician,2,1,0,668,1,0,unknown,28,may,576,3,-1,0,unknown,yes
4495,48,management,1,2,0,1175,1,0,telephone,18,nov,1476,3,-1,0,unknown,no
4496,30,blue-collar,2,1,0,363,0,0,cellular,28,jul,171,3,-1,0,unknown,no
4497,31,entrepreneur,2,2,0,38,0,0,cellular,20,nov,185,2,-1,0,unknown,no
4498,31,management,1,2,0,1183,1,0,unknown,27,may,676,6,-1,0,unknown,no
4499,45,blue-collar,0,0,0,942,0,0,cellular,21,nov,362,1,-1,0,unknown,no
4500,38,admin.,1,1,0,4196,1,0,cellular,12,may,193,2,-1,0,unknown,no
4501,34,management,1,2,0,297,1,0,cellular,26,aug,63,4,-1,0,unknown,no
4502,42,services,1,1,0,-91,1,1,cellular,5,feb,43,1,-1,0,unknown,no
4503,60,self-employed,1,0,0,362,0,1,cellular,29,jul,816,6,-1,0,unknown,yes
4504,42,blue-collar,2,1,0,1080,1,1,cellular,13,may,951,3,370,4,failure,yes
4505,32,admin.,2,1,0,620,1,0,unknown,26,may,1234,3,-1,0,unknown,yes
4506,42,unemployed,0,2,0,-166,0,0,cellular,29,aug,85,4,-1,0,unknown,no
4507,33,services,1,1,0,288,1,0,cellular,17,apr,306,1,-1,0,unknown,no
4508,42,admin.,1,3,0,642,1,1,unknown,16,may,509,2,-1,0,unknown,no
4509,51,technician,1,2,0,2506,0,0,cellular,30,nov,210,3,-1,0,unknown,no
4510,36,technician,0,1,0,566,1,0,unknown,20,may,129,2,-1,0,unknown,no
4511,46,blue-collar,1,1,0,668,1,0,unknown,15,may,1263,2,-1,0,unknown,yes
4512,40,blue-collar,1,1,0,1100,1,0,unknown,29,may,660,2,-1,0,unknown,no
4513,49,blue-collar,1,1,0,322,0,0,cellular,14,aug,356,2,-1,0,unknown,no
4514,38,blue-collar,1,1,0,1205,1,0,cellular,20,apr,45,4,153,1,failure,no
4515,32,services,2,1,0,473,1,0,cellular,7,jul,624,5,-1,0,unknown,no
4516,33,services,1,1,0,-333,1,0,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,1,2,1,-3313,1,1,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,1,1,0,295,0,0,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,1,1,0,1137,0,0,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,2,2,0,1136,1,1,cellular,3,apr,345,2,249,7,other,no

In [17]:
data.contact.unique()

array(['cellular', 'unknown', 'telephone'], dtype=object)

In [18]:
data['contact'] = data['contact'].astype('category')
data['contact'] = data['contact'].cat.codes
data.contact.unique()

array([0, 2, 1], dtype=int64)

In [19]:
data.month.unique()

array(['oct', 'may', 'apr', 'jun', 'feb', 'aug', 'jan', 'jul', 'nov',
       'sep', 'mar', 'dec'], dtype=object)

In [20]:
data['month'] = data['month'].astype('category')
data['month'] = data['month'].cat.codes
data.month.unique()

array([10,  8,  0,  6,  3,  1,  4,  5,  9, 11,  7,  2], dtype=int64)

In [21]:
data.poutcome.unique()

array(['unknown', 'failure', 'other', 'success'], dtype=object)

In [22]:
data['poutcome'] = data['poutcome'].astype('category')
data['poutcome'] = data['poutcome'].cat.codes
data.poutcome.unique()

array([3, 0, 1, 2], dtype=int64)

In [23]:
data.y.unique()

array(['no', 'yes'], dtype=object)

In [24]:
data['y'] = data['y'].astype('category')

In [25]:
data['y'] = data['y'].cat.codes
data.y.unique()

array([0, 1], dtype=int64)

In [26]:
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,1,0,0,1787,0,0,0,19,10,79,1,-1,0,3,0
1,33,services,1,1,0,4789,1,1,0,11,8,220,1,339,4,0,0
2,35,management,2,2,0,1350,1,0,0,16,0,185,1,330,1,0,0
3,30,management,1,2,0,1476,1,1,2,3,6,199,4,-1,0,3,0
4,59,blue-collar,1,1,0,0,1,0,2,5,8,226,1,-1,0,3,0
5,35,management,2,2,0,747,0,0,0,23,3,141,2,176,3,0,0
6,36,self-employed,1,2,0,307,1,0,0,14,8,341,1,330,2,1,0
7,39,technician,1,1,0,147,1,0,0,6,8,151,2,-1,0,3,0
8,41,entrepreneur,1,2,0,221,1,0,2,14,8,57,2,-1,0,3,0
9,43,services,1,0,0,-88,1,1,0,17,0,313,1,147,2,0,0
10,39,services,1,1,0,9374,1,0,2,20,8,273,1,-1,0,3,0
11,43,admin.,1,1,0,264,1,0,0,17,0,113,2,-1,0,3,0
12,36,technician,1,2,0,1109,0,0,0,13,1,328,2,-1,0,3,0
13,20,student,2,1,0,502,0,0,0,30,0,261,1,-1,0,3,1
14,31,blue-collar,1,1,0,360,1,1,0,29,4,89,1,241,1,0,0
15,40,management,1,2,0,194,0,1,0,29,1,189,2,-1,0,3,0
16,56,technician,1,1,0,4073,0,0,0,27,1,239,5,-1,0,3,0
17,37,admin.,2,2,0,2317,1,0,0,20,0,114,1,152,2,0,0
18,25,blue-collar,2,0,0,-221,1,0,2,23,8,250,1,-1,0,3,0
19,31,services,1,1,0,132,0,0,0,7,5,148,1,152,1,1,0
20,38,management,0,3,0,0,1,0,0,18,9,96,2,-1,0,3,0
21,42,management,0,2,0,16,0,0,0,19,9,140,3,-1,0,3,0
22,44,services,2,1,0,106,0,0,2,12,6,109,2,-1,0,3,0
23,44,entrepreneur,1,1,0,93,0,0,0,7,5,125,2,-1,0,3,0
24,26,housemaid,1,2,0,543,0,0,0,30,4,169,3,-1,0,3,0
25,41,management,1,2,0,5883,0,0,0,20,9,182,2,-1,0,3,0
26,55,blue-collar,1,0,0,627,1,0,2,5,8,247,1,-1,0,3,0
27,67,retired,1,3,0,696,0,0,1,17,1,119,1,105,2,0,0
28,56,self-employed,1,1,0,784,0,1,0,30,5,149,2,-1,0,3,0
29,53,admin.,1,1,0,105,0,1,0,21,1,74,2,-1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491,35,blue-collar,2,1,0,0,1,0,0,16,0,169,1,-1,0,3,0
4492,32,technician,2,1,0,309,1,1,0,16,0,346,1,234,3,0,0
4493,28,technician,2,2,0,0,1,0,2,4,6,205,6,-1,0,3,0
4494,26,technician,2,1,0,668,1,0,2,28,8,576,3,-1,0,3,1
4495,48,management,1,2,0,1175,1,0,1,18,9,1476,3,-1,0,3,0
4496,30,blue-collar,2,1,0,363,0,0,0,28,5,171,3,-1,0,3,0
4497,31,entrepreneur,2,2,0,38,0,0,0,20,9,185,2,-1,0,3,0
4498,31,management,1,2,0,1183,1,0,2,27,8,676,6,-1,0,3,0
4499,45,blue-collar,0,0,0,942,0,0,0,21,9,362,1,-1,0,3,0
4500,38,admin.,1,1,0,4196,1,0,0,12,8,193,2,-1,0,3,0
4501,34,management,1,2,0,297,1,0,0,26,1,63,4,-1,0,3,0
4502,42,services,1,1,0,-91,1,1,0,5,3,43,1,-1,0,3,0
4503,60,self-employed,1,0,0,362,0,1,0,29,5,816,6,-1,0,3,1
4504,42,blue-collar,2,1,0,1080,1,1,0,13,8,951,3,370,4,0,1
4505,32,admin.,2,1,0,620,1,0,2,26,8,1234,3,-1,0,3,1
4506,42,unemployed,0,2,0,-166,0,0,0,29,1,85,4,-1,0,3,0
4507,33,services,1,1,0,288,1,0,0,17,0,306,1,-1,0,3,0
4508,42,admin.,1,3,0,642,1,1,2,16,8,509,2,-1,0,3,0
4509,51,technician,1,2,0,2506,0,0,0,30,9,210,3,-1,0,3,0
4510,36,technician,0,1,0,566,1,0,2,20,8,129,2,-1,0,3,0
4511,46,blue-collar,1,1,0,668,1,0,2,15,8,1263,2,-1,0,3,1
4512,40,blue-collar,1,1,0,1100,1,0,2,29,8,660,2,-1,0,3,0
4513,49,blue-collar,1,1,0,322,0,0,0,14,1,356,2,-1,0,3,0
4514,38,blue-collar,1,1,0,1205,1,0,0,20,0,45,4,153,1,0,0
4515,32,services,2,1,0,473,1,0,0,7,5,624,5,-1,0,3,0
4516,33,services,1,1,0,-333,1,0,0,30,5,329,5,-1,0,3,0
4517,57,self-employed,1,2,1,-3313,1,1,2,9,8,153,1,-1,0,3,0
4518,57,technician,1,1,0,295,0,0,0,19,1,151,11,-1,0,3,0
4519,28,blue-collar,1,1,0,1137,0,0,0,6,3,129,4,211,3,1,0
4520,44,entrepreneur,2,2,0,1136,1,1,0,3,0,345,2,249,7,1,0

In [27]:
data.groupby(["housing","loan"]).size()

housing  loan
0        0       1677
         1        285
1        0       2153
         1        406
dtype: int64

In [28]:
data.previous.unique()

array([ 0,  4,  1,  3,  2,  5, 20,  7,  6, 10,  9,  8, 18, 19, 12, 13, 11,
       14, 15, 24, 17, 22, 23, 25], dtype=int64)

In [29]:
data['previous'] = data['previous'].astype('category')
data.previous.unique()

[0, 4, 1, 3, 2, ..., 24, 17, 22, 23, 25]
Length: 24
Categories (24, int64): [0, 4, 1, 3, ..., 17, 22, 23, 25]

In [30]:
data.groupby(["education","loan"]).size()

education  loan
0          0        584
           1         94
1          0       1890
           1        416
2          0       1176
           1        174
3          0        180
           1          7
dtype: int64

In [31]:
from pgmpy.models import MarkovModel

In [32]:
from pgmpy.factors.discrete import DiscreteFactor

In [61]:
mark = MarkovModel([('education','loan'),('education','housing'),('loan','y'),('housing','y'),('marital','y'),('default','y'),('contact','month'),('month','y'),('poutcome','y')])

In [37]:
data.groupby(["education","loan"]).size()

education  loan
0          0        584
           1         94
1          0       1890
           1        416
2          0       1176
           1        174
3          0        180
           1          7
dtype: int64

In [39]:
f1 = DiscreteFactor(["education","loan"],cardinality=[4,2],values=(584,94,1890,416,1176,174,180,7))

In [40]:
data.groupby(["education","housing"]).size()

education  housing
0          0           295
           1           383
1          0           876
           1          1430
2          0           687
           1           663
3          0           104
           1            83
dtype: int64

In [41]:
f2 = DiscreteFactor(["education","housing"],cardinality=[4,2],values=(295,383,876,1430,687,663,104,83))

In [42]:
data.groupby(["loan","y"]).size()

loan  y
0     0    3352
      1     478
1     0     648
      1      43
dtype: int64

In [43]:
f3 = DiscreteFactor(["loan","y"],cardinality=[2,2],values=(3352,478,648,43))

In [44]:
data.groupby(["housing","y"]).size()

housing  y
0        0    1661
         1     301
1        0    2339
         1     220
dtype: int64

In [45]:
f4 = DiscreteFactor(["housing","y"],cardinality=[2,2],values=(1661,301,2339,220))

In [46]:
data.groupby(["marital","y"]).size()

marital  y
0        0     451
         1      77
1        0    2520
         1     277
2        0    1029
         1     167
dtype: int64

In [47]:
f5 = DiscreteFactor(["marital","y"],cardinality=[3,2],values=(451,77,2520,277,1029,167))

In [48]:
data.groupby(["default","y"]).size()

default  y
0        0    3933
         1     512
1        0      67
         1       9
dtype: int64

In [49]:
f6 = DiscreteFactor(["default","y"],cardinality=[2,2],values=(3933,512,67,9))

In [51]:
data.groupby(["contact","previous"]).size()

contact  previous
0        0           2164
         1            262
         2            169
         3            102
         4             71
         5             42
         6             21
         7             19
         8             16
         9             10
         10             4
         11             2
         12             2
         13             1
         14             2
         15             1
         17             1
         18             1
         19             1
         20             1
         22             1
         23             1
         24             1
         25             1
1        0            228
         1             23
         2             20
         3              9
         4              6
         5              4
         6              3
         7              3
         8              2
         11             1
         12             2
2        0           1313
         1              1
         2              4
         3              2
         4              1
         5              1
         6              1
         12             1
dtype: int64

In [55]:
data.groupby(["contact","month"]).size()

contact  month
0        0        276
         1        607
         2         18
         3        199
         4        129
         5        576
         6         73
         7         38
         8        529
         9        345
         10        64
         11        42
1        0         17
         1         20
         2          2
         3         23
         4         18
         5        102
         6          8
         7         10
         8         49
         9         38
         10        11
         11         3
2        1          6
         4          1
         5         28
         6        450
         7          1
         8        820
         9          6
         10         5
         11         7
dtype: int64

In [56]:
f7 = DiscreteFactor(["contact","month"],cardinality=[3,12],values=(276,607,18,199,129,576,73,38,529,345,64,42,17,20,2,23,18,102,8,10,49,38,11,3,0,6,0,0,1,28,450,1,820,6,5,7))

In [57]:
data.groupby(["month","y"]).size()

month  y
0      0     237
       1      56
1      0     554
       1      79
2      0      11
       1       9
3      0     184
       1      38
4      0     132
       1      16
5      0     645
       1      61
6      0     476
       1      55
7      0      28
       1      21
8      0    1305
       1      93
9      0     350
       1      39
10     0      43
       1      37
11     0      35
       1      17
dtype: int64

In [58]:
f8 = DiscreteFactor(["month","y"],cardinality=[12,2],values=(237,56,554,79,11,9,184,38,132,16,645,61,476,55,28,21,1305,93,350,39,43,37,35,17))

In [59]:
data.groupby(["poutcome","y"]).size()

poutcome  y
0         0     427
          1      63
1         0     159
          1      38
2         0      46
          1      83
3         0    3368
          1     337
dtype: int64

In [60]:
f9 = DiscreteFactor(["poutcome","y"],cardinality=[4,2],values=(427,63,159,38,46,83,3368,337))

In [62]:
mark.add_factors(f1)

In [63]:
mark.add_factors(f2)
mark.add_factors(f3)
mark.add_factors(f3)
mark.add_factors(f4)
mark.add_factors(f5)
mark.add_factors(f6)
mark.add_factors(f7)
mark.add_factors(f8)
mark.add_factors(f9)

In [64]:
mark.get_local_independencies()

(poutcome _|_ default, loan, month, contact, education, marital, housing | y)
(default _|_ poutcome, month, loan, marital, contact, education, housing | y)
(loan _|_ poutcome, default, housing, month, contact, marital | y, education)
(marital _|_ poutcome, default, loan, month, contact, education, housing | y)
(contact _|_ poutcome, default, loan, marital, y, education, housing | month)
(month _|_ poutcome, default, loan, marital, education, housing | y, contact)
(y _|_ contact, education | poutcome, default, loan, month, marital, housing)
(education _|_ poutcome, default, month, contact, y, marital | loan, housing)
(housing _|_ poutcome, default, loan, month, contact, marital | y, education)

In [65]:
from pgmpy.inference import Mplp

In [66]:
mplp = Mplp(mark)

In [67]:
mplp.find_triangles()

[]

In [68]:
mplp.map_query()

KeyError: frozenset(['loan'])

In [70]:
from pgmpy.estimators import MaximumLikelihoodEstimator, BayesianEstimator
from pgmpy.sampling import BayesianModelSampling
from pgmpy.factors.discrete import State
from pgmpy.inference import BeliefPropagation
from pgmpy.models import BayesianModel

In [72]:
infer1 = BayesianModelSampling(mark)
evidence1 = [State('y',1)]
sample1 = infer1.forward_sample(5)
sample1

TypeError: ('Model expected type: BayesianModel, got type: ', <class 'pgmpy.models.MarkovModel.MarkovModel'>)

In [73]:
belief_prop = BeliefPropagation(mark)

In [92]:
bp1 = belief_prop.query(variables=['y'],evidence={'marital' : 2,'default' : 0})
print(bp1['y'])

+-----+----------+
| y   |   phi(y) |
|-----+----------|
| y_0 |   1.0000 |
| y_1 |   0.0000 |
+-----+----------+

In [138]:
infer = VariableElimination(mark)
phi_query = infer.query(variables=['y'],evidence={'marital':0,'default':0})
print(bp1['y'])

+-----+----------+
| y   |   phi(y) |
|-----+----------|
| y_0 |   1.0000 |
| y_1 |   0.0000 |
+-----+----------+

In [91]:
bp2 = belief_prop.query(variables=['y'],evidence={'education' : 2,'housing' : 1})
print(bp2['y'])

+-----+----------+
| y   |   phi(y) |
|-----+----------|
| y_0 |   1.0000 |
| y_1 |   0.0000 |
+-----+----------+

In [139]:
infer = VariableElimination(mark)
phi_query = infer.query(variables=['y'],evidence={'education':2,'housing':1})
print(bp1['y'])

+-----+----------+
| y   |   phi(y) |
|-----+----------|
| y_0 |   1.0000 |
| y_1 |   0.0000 |
+-----+----------+

In [149]:
infer = VariableElimination(mark)
phi_query = infer.query(variables=['y'],evidence={'month':11,'poutcome':2})
print(bp1['y'])

+-----+----------+
| y   |   phi(y) |
|-----+----------|
| y_0 |   1.0000 |
| y_1 |   0.0000 |
+-----+----------+

In [79]:
bp3 = belief_prop.query(variables=['y'],evidence={'month' : 11,'poutcome' : 2})
print(bp3['y'])

+-----+----------+
| y   |   phi(y) |
|-----+----------|
| y_0 |   0.9997 |
| y_1 |   0.0003 |
+-----+----------+

In [86]:
bp4 = belief_prop.query(variables=['y'],evidence={'contact' : 2})
print(bp4['y'])

+-----+----------+
| y   |   phi(y) |
|-----+----------|
| y_0 |   1.0000 |
| y_1 |   0.0000 |
+-----+----------+

In [90]:
bp5 = belief_prop.query(variables=['y'],evidence={'poutcome' : 2, 'loan' : 1})
print(bp5['y'])

+-----+----------+
| y   |   phi(y) |
|-----+----------|
| y_0 |   1.0000 |
| y_1 |   0.0000 |
+-----+----------+

In [136]:
bp6 = belief_prop.query(variables=['y'],evidence={'marital' : 1, 'loan' : 1, 'contact' : 1, 'month' : 5})
print(bp6['y'])

+-----+----------+
| y   |   phi(y) |
|-----+----------|
| y_0 |   1.0000 |
| y_1 |   0.0000 |
+-----+----------+

In [88]:
from pgmpy.inference import VariableElimination
infer = VariableElimination(mark)

In [89]:
infer.query(['loan','housing'])

{'housing': <DiscreteFactor representing phi(housing:2) at 0xa528630L>,
 'loan': <DiscreteFactor representing phi(loan:2) at 0xa528080L>}

In [97]:
from pgmpy.models import MarkovModel
#gibbs_chain = GibbsSampling(student)

In [95]:
import pgmpy

In [99]:
from pgmpy.sampling import GibbsSampling

In [100]:
gibbs_chain = GibbsSampling(mark)

In [101]:
gibbs_chain

In [108]:
gen = gibbs_chain.generate_sample(size=5)

In [109]:
gen

In [110]:
[sample for sample in gen]

KeyError: 'poutcome'

In [111]:
gibbs_chain.sample(size=4)

KeyError: 'poutcome'

In [107]:
for fact in mark.get_factors():
    print(fact)

+-------------+--------+-----------------------+
| education   | loan   |   phi(education,loan) |
|-------------+--------+-----------------------|
| education_0 | loan_0 |              584.0000 |
| education_0 | loan_1 |               94.0000 |
| education_1 | loan_0 |             1890.0000 |
| education_1 | loan_1 |              416.0000 |
| education_2 | loan_0 |             1176.0000 |
| education_2 | loan_1 |              174.0000 |
| education_3 | loan_0 |              180.0000 |
| education_3 | loan_1 |                7.0000 |
+-------------+--------+-----------------------+
+-------------+-----------+--------------------------+
| education   | housing   |   phi(education,housing) |
|-------------+-----------+--------------------------|
| education_0 | housing_0 |                 295.0000 |
| education_0 | housing_1 |                 383.0000 |
| education_1 | housing_0 |                 876.0000 |
| education_1 | housing_1 |                1430.0000 |
| education_2 | housing_0 |                 687.0000 |
| education_2 | housing_1 |                 663.0000 |
| education_3 | housing_0 |                 104.0000 |
| education_3 | housing_1 |                  83.0000 |
+-------------+-----------+--------------------------+
+--------+-----+---------------+
| loan   | y   |   phi(loan,y) |
|--------+-----+---------------|
| loan_0 | y_0 |     3352.0000 |
| loan_0 | y_1 |      478.0000 |
| loan_1 | y_0 |      648.0000 |
| loan_1 | y_1 |       43.0000 |
+--------+-----+---------------+
+--------+-----+---------------+
| loan   | y   |   phi(loan,y) |
|--------+-----+---------------|
| loan_0 | y_0 |     3352.0000 |
| loan_0 | y_1 |      478.0000 |
| loan_1 | y_0 |      648.0000 |
| loan_1 | y_1 |       43.0000 |
+--------+-----+---------------+
+-----------+-----+------------------+
| housing   | y   |   phi(housing,y) |
|-----------+-----+------------------|
| housing_0 | y_0 |        1661.0000 |
| housing_0 | y_1 |         301.0000 |
| housing_1 | y_0 |        2339.0000 |
| housing_1 | y_1 |         220.0000 |
+-----------+-----+------------------+
+-----------+-----+------------------+
| marital   | y   |   phi(marital,y) |
|-----------+-----+------------------|
| marital_0 | y_0 |         451.0000 |
| marital_0 | y_1 |          77.0000 |
| marital_1 | y_0 |        2520.0000 |
| marital_1 | y_1 |         277.0000 |
| marital_2 | y_0 |        1029.0000 |
| marital_2 | y_1 |         167.0000 |
+-----------+-----+------------------+
+-----------+-----+------------------+
| default   | y   |   phi(default,y) |
|-----------+-----+------------------|
| default_0 | y_0 |        3933.0000 |
| default_0 | y_1 |         512.0000 |
| default_1 | y_0 |          67.0000 |
| default_1 | y_1 |           9.0000 |
+-----------+-----+------------------+
+-----------+----------+----------------------+
| contact   | month    |   phi(contact,month) |
|-----------+----------+----------------------|
| contact_0 | month_0  |             276.0000 |
| contact_0 | month_1  |             607.0000 |
| contact_0 | month_2  |              18.0000 |
| contact_0 | month_3  |             199.0000 |
| contact_0 | month_4  |             129.0000 |
| contact_0 | month_5  |             576.0000 |
| contact_0 | month_6  |              73.0000 |
| contact_0 | month_7  |              38.0000 |
| contact_0 | month_8  |             529.0000 |
| contact_0 | month_9  |             345.0000 |
| contact_0 | month_10 |              64.0000 |
| contact_0 | month_11 |              42.0000 |
| contact_1 | month_0  |              17.0000 |
| contact_1 | month_1  |              20.0000 |
| contact_1 | month_2  |               2.0000 |
| contact_1 | month_3  |              23.0000 |
| contact_1 | month_4  |              18.0000 |
| contact_1 | month_5  |             102.0000 |
| contact_1 | month_6  |               8.0000 |
| contact_1 | month_7  |              10.0000 |
| contact_1 | month_8  |              49.0000 |
| contact_1 | month_9  |              38.0000 |
| contact_1 | month_10 |              11.0000 |
| contact_1 | month_11 |               3.0000 |
| contact_2 | month_0  |               0.0000 |
| contact_2 | month_1  |               6.0000 |
| contact_2 | month_2  |               0.0000 |
| contact_2 | month_3  |               0.0000 |
| contact_2 | month_4  |               1.0000 |
| contact_2 | month_5  |              28.0000 |
| contact_2 | month_6  |             450.0000 |
| contact_2 | month_7  |               1.0000 |
| contact_2 | month_8  |             820.0000 |
| contact_2 | month_9  |               6.0000 |
| contact_2 | month_10 |               5.0000 |
| contact_2 | month_11 |               7.0000 |
+-----------+----------+----------------------+
+----------+-----+----------------+
| month    | y   |   phi(month,y) |
|----------+-----+----------------|
| month_0  | y_0 |       237.0000 |
| month_0  | y_1 |        56.0000 |
| month_1  | y_0 |       554.0000 |
| month_1  | y_1 |        79.0000 |
| month_2  | y_0 |        11.0000 |
| month_2  | y_1 |         9.0000 |
| month_3  | y_0 |       184.0000 |
| month_3  | y_1 |        38.0000 |
| month_4  | y_0 |       132.0000 |
| month_4  | y_1 |        16.0000 |
| month_5  | y_0 |       645.0000 |
| month_5  | y_1 |        61.0000 |
| month_6  | y_0 |       476.0000 |
| month_6  | y_1 |        55.0000 |
| month_7  | y_0 |        28.0000 |
| month_7  | y_1 |        21.0000 |
| month_8  | y_0 |      1305.0000 |
| month_8  | y_1 |        93.0000 |
| month_9  | y_0 |       350.0000 |
| month_9  | y_1 |        39.0000 |
| month_10 | y_0 |        43.0000 |
| month_10 | y_1 |        37.0000 |
| month_11 | y_0 |        35.0000 |
| month_11 | y_1 |        17.0000 |
+----------+-----+----------------+
+------------+-----+-------------------+
| poutcome   | y   |   phi(poutcome,y) |
|------------+-----+-------------------|
| poutcome_0 | y_0 |          427.0000 |
| poutcome_0 | y_1 |           63.0000 |
| poutcome_1 | y_0 |          159.0000 |
| poutcome_1 | y_1 |           38.0000 |
| poutcome_2 | y_0 |           46.0000 |
| poutcome_2 | y_1 |           83.0000 |
| poutcome_3 | y_0 |         3368.0000 |
| poutcome_3 | y_1 |          337.0000 |
+------------+-----+-------------------+

In [113]:
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,1,0,0,1787,0,0,0,19,10,79,1,-1,0,3,0
1,33,services,1,1,0,4789,1,1,0,11,8,220,1,339,4,0,0
2,35,management,2,2,0,1350,1,0,0,16,0,185,1,330,1,0,0
3,30,management,1,2,0,1476,1,1,2,3,6,199,4,-1,0,3,0
4,59,blue-collar,1,1,0,0,1,0,2,5,8,226,1,-1,0,3,0
5,35,management,2,2,0,747,0,0,0,23,3,141,2,176,3,0,0
6,36,self-employed,1,2,0,307,1,0,0,14,8,341,1,330,2,1,0
7,39,technician,1,1,0,147,1,0,0,6,8,151,2,-1,0,3,0
8,41,entrepreneur,1,2,0,221,1,0,2,14,8,57,2,-1,0,3,0
9,43,services,1,0,0,-88,1,1,0,17,0,313,1,147,2,0,0
10,39,services,1,1,0,9374,1,0,2,20,8,273,1,-1,0,3,0
11,43,admin.,1,1,0,264,1,0,0,17,0,113,2,-1,0,3,0
12,36,technician,1,2,0,1109,0,0,0,13,1,328,2,-1,0,3,0
13,20,student,2,1,0,502,0,0,0,30,0,261,1,-1,0,3,1
14,31,blue-collar,1,1,0,360,1,1,0,29,4,89,1,241,1,0,0
15,40,management,1,2,0,194,0,1,0,29,1,189,2,-1,0,3,0
16,56,technician,1,1,0,4073,0,0,0,27,1,239,5,-1,0,3,0
17,37,admin.,2,2,0,2317,1,0,0,20,0,114,1,152,2,0,0
18,25,blue-collar,2,0,0,-221,1,0,2,23,8,250,1,-1,0,3,0
19,31,services,1,1,0,132,0,0,0,7,5,148,1,152,1,1,0
20,38,management,0,3,0,0,1,0,0,18,9,96,2,-1,0,3,0
21,42,management,0,2,0,16,0,0,0,19,9,140,3,-1,0,3,0
22,44,services,2,1,0,106,0,0,2,12,6,109,2,-1,0,3,0
23,44,entrepreneur,1,1,0,93,0,0,0,7,5,125,2,-1,0,3,0
24,26,housemaid,1,2,0,543,0,0,0,30,4,169,3,-1,0,3,0
25,41,management,1,2,0,5883,0,0,0,20,9,182,2,-1,0,3,0
26,55,blue-collar,1,0,0,627,1,0,2,5,8,247,1,-1,0,3,0
27,67,retired,1,3,0,696,0,0,1,17,1,119,1,105,2,0,0
28,56,self-employed,1,1,0,784,0,1,0,30,5,149,2,-1,0,3,0
29,53,admin.,1,1,0,105,0,1,0,21,1,74,2,-1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491,35,blue-collar,2,1,0,0,1,0,0,16,0,169,1,-1,0,3,0
4492,32,technician,2,1,0,309,1,1,0,16,0,346,1,234,3,0,0
4493,28,technician,2,2,0,0,1,0,2,4,6,205,6,-1,0,3,0
4494,26,technician,2,1,0,668,1,0,2,28,8,576,3,-1,0,3,1
4495,48,management,1,2,0,1175,1,0,1,18,9,1476,3,-1,0,3,0
4496,30,blue-collar,2,1,0,363,0,0,0,28,5,171,3,-1,0,3,0
4497,31,entrepreneur,2,2,0,38,0,0,0,20,9,185,2,-1,0,3,0
4498,31,management,1,2,0,1183,1,0,2,27,8,676,6,-1,0,3,0
4499,45,blue-collar,0,0,0,942,0,0,0,21,9,362,1,-1,0,3,0
4500,38,admin.,1,1,0,4196,1,0,0,12,8,193,2,-1,0,3,0
4501,34,management,1,2,0,297,1,0,0,26,1,63,4,-1,0,3,0
4502,42,services,1,1,0,-91,1,1,0,5,3,43,1,-1,0,3,0
4503,60,self-employed,1,0,0,362,0,1,0,29,5,816,6,-1,0,3,1
4504,42,blue-collar,2,1,0,1080,1,1,0,13,8,951,3,370,4,0,1
4505,32,admin.,2,1,0,620,1,0,2,26,8,1234,3,-1,0,3,1
4506,42,unemployed,0,2,0,-166,0,0,0,29,1,85,4,-1,0,3,0
4507,33,services,1,1,0,288,1,0,0,17,0,306,1,-1,0,3,0
4508,42,admin.,1,3,0,642,1,1,2,16,8,509,2,-1,0,3,0
4509,51,technician,1,2,0,2506,0,0,0,30,9,210,3,-1,0,3,0
4510,36,technician,0,1,0,566,1,0,2,20,8,129,2,-1,0,3,0
4511,46,blue-collar,1,1,0,668,1,0,2,15,8,1263,2,-1,0,3,1
4512,40,blue-collar,1,1,0,1100,1,0,2,29,8,660,2,-1,0,3,0
4513,49,blue-collar,1,1,0,322,0,0,0,14,1,356,2,-1,0,3,0
4514,38,blue-collar,1,1,0,1205,1,0,0,20,0,45,4,153,1,0,0
4515,32,services,2,1,0,473,1,0,0,7,5,624,5,-1,0,3,0
4516,33,services,1,1,0,-333,1,0,0,30,5,329,5,-1,0,3,0
4517,57,self-employed,1,2,1,-3313,1,1,2,9,8,153,1,-1,0,3,0
4518,57,technician,1,1,0,295,0,0,0,19,1,151,11,-1,0,3,0
4519,28,blue-collar,1,1,0,1137,0,0,0,6,3,129,4,211,3,1,0
4520,44,entrepreneur,2,2,0,1136,1,1,0,3,0,345,2,249,7,1,0

In [114]:
data1 = data[['marital','education','default','housing','loan','contact','month','poutcome','y']].copy()

In [115]:
data1

      marital  education  default  housing  loan  contact  month  poutcome  y
0           1          0        0        0     0        0     10         3  0
1           1          1        0        1     1        0      8         0  0
2           2          2        0        1     0        0      0         0  0
3           1          2        0        1     1        2      6         3  0
4           1          1        0        1     0        2      8         3  0
5           2          2        0        0     0        0      3         0  0
6           1          2        0        1     0        0      8         1  0
7           1          1        0        1     0        0      8         3  0
8           1          2        0        1     0        2      8         3  0
9           1          0        0        1     1        0      0         0  0
10          1          1        0        1     0        2      8         3  0
11          1          1        0        1     0        0      0         3  0
12          1          2        0        0     0        0      1         3  0
13          2          1        0        0     0        0      0         3  1
14          1          1        0        1     1        0      4         0  0
15          1          2        0        0     1        0      1         3  0
16          1          1        0        0     0        0      1         3  0
17          2          2        0        1     0        0      0         0  0
18          2          0        0        1     0        2      8         3  0
19          1          1        0        0     0        0      5         1  0
20          0          3        0        1     0        0      9         3  0
21          0          2        0        0     0        0      9         3  0
22          2          1        0        0     0        2      6         3  0
23          1          1        0        0     0        0      5         3  0
24          1          2        0        0     0        0      4         3  0
25          1          2        0        0     0        0      9         3  0
26          1          0        0        1     0        2      8         3  0
27          1          3        0        0     0        1      1         0  0
28          1          1        0        0     1        0      5         3  0
29          1          1        0        0     1        0      1         3  0
...       ...        ...      ...      ...   ...      ...    ...       ... ..
4491        2          1        0        1     0        0      0         3  0
4492        2          1        0        1     1        0      0         0  0
4493        2          2        0        1     0        2      6         3  0
4494        2          1        0        1     0        2      8         3  1
4495        1          2        0        1     0        1      9         3  0
4496        2          1        0        0     0        0      5         3  0
4497        2          2        0        0     0        0      9         3  0
4498        1          2        0        1     0        2      8         3  0
4499        0          0        0        0     0        0      9         3  0
4500        1          1        0        1     0        0      8         3  0
4501        1          2        0        1     0        0      1         3  0
4502        1          1        0        1     1        0      3         3  0
4503        1          0        0        0     1        0      5         3  1
4504        2          1        0        1     1        0      8         0  1
4505        2          1        0        1     0        2      8         3  1
4506        0          2        0        0     0        0      1         3  0
4507        1          1        0        1     0        0      0         3  0
4508        1          3        0        1     1        2      8         3  0
4509        1          2        0        0     0        0      9         3  0
4510        0          1        0        1     0        2      8         3  0
4511        1          1        0        1     0        2      8         3  1
4512        1          1        0        1     0        2      8         3  0
4513        1          1        0        0     0        0      1         3  0
4514        1          1        0        1     0        0      0         0  0
4515        2          1        0        1     0        0      5         3  0
4516        1          1        0        1     0        0      5         3  0
4517        1          2        1        1     1        2      8         3  0
4518        1          1        0        0     0        0      1         3  0
4519        1          1        0        0     0        0      3         1  0
4520        2          2        0        1     1        0      0         1  0

[4521 rows x 9 columns]

In [116]:
import random

In [121]:
import numpy as np
df = data1[0:5]
df

   marital  education  default  housing  loan  contact  month  poutcome  y
0        1          0        0        0     0        0     10         3  0
1        1          1        0        1     1        0      8         0  0
2        2          2        0        1     0        0      0         0  0
3        1          2        0        1     1        2      6         3  0
4        1          1        0        1     0        2      8         3  0

In [122]:
np.mean(df)

marital      1.2
education    1.2
default      0.0
housing      0.8
loan         0.4
contact      0.8
month        6.4
poutcome     1.8
y            0.0
dtype: float64

In [123]:
import scipy
scipy.stats.entropy(df)

C:\Users\sindh\Anaconda2\lib\site-packages\scipy\stats\_distn_infrastructure.py:2491: RuntimeWarning: invalid value encountered in true_divide
  pk = 1.0*pk / np.sum(pk, axis=0)

array([ 1.56071041,  1.32966135,        -inf,  1.38629436,  0.69314718,
        0.69314718,  1.37050239,  1.09861229,        -inf])

In [124]:
arr = pandas.DataFrame.as_matrix(df)
arr

array([[ 1,  0,  0,  0,  0,  0, 10,  3,  0],
       [ 1,  1,  0,  1,  1,  0,  8,  0,  0],
       [ 2,  2,  0,  1,  0,  0,  0,  0,  0],
       [ 1,  2,  0,  1,  1,  2,  6,  3,  0],
       [ 1,  1,  0,  1,  0,  2,  8,  3,  0]], dtype=int8)

In [125]:
for i in arr:
    for j in i:
        print i

[ 1  0  0  0  0  0 10  3  0]
[ 1  0  0  0  0  0 10  3  0]
[ 1  0  0  0  0  0 10  3  0]
[ 1  0  0  0  0  0 10  3  0]
[ 1  0  0  0  0  0 10  3  0]
[ 1  0  0  0  0  0 10  3  0]
[ 1  0  0  0  0  0 10  3  0]
[ 1  0  0  0  0  0 10  3  0]
[ 1  0  0  0  0  0 10  3  0]
[1 1 0 1 1 0 8 0 0]
[1 1 0 1 1 0 8 0 0]
[1 1 0 1 1 0 8 0 0]
[1 1 0 1 1 0 8 0 0]
[1 1 0 1 1 0 8 0 0]
[1 1 0 1 1 0 8 0 0]
[1 1 0 1 1 0 8 0 0]
[1 1 0 1 1 0 8 0 0]
[1 1 0 1 1 0 8 0 0]
[2 2 0 1 0 0 0 0 0]
[2 2 0 1 0 0 0 0 0]
[2 2 0 1 0 0 0 0 0]
[2 2 0 1 0 0 0 0 0]
[2 2 0 1 0 0 0 0 0]
[2 2 0 1 0 0 0 0 0]
[2 2 0 1 0 0 0 0 0]
[2 2 0 1 0 0 0 0 0]
[2 2 0 1 0 0 0 0 0]
[1 2 0 1 1 2 6 3 0]
[1 2 0 1 1 2 6 3 0]
[1 2 0 1 1 2 6 3 0]
[1 2 0 1 1 2 6 3 0]
[1 2 0 1 1 2 6 3 0]
[1 2 0 1 1 2 6 3 0]
[1 2 0 1 1 2 6 3 0]
[1 2 0 1 1 2 6 3 0]
[1 2 0 1 1 2 6 3 0]
[1 1 0 1 0 2 8 3 0]
[1 1 0 1 0 2 8 3 0]
[1 1 0 1 0 2 8 3 0]
[1 1 0 1 0 2 8 3 0]
[1 1 0 1 0 2 8 3 0]
[1 1 0 1 0 2 8 3 0]
[1 1 0 1 0 2 8 3 0]
[1 1 0 1 0 2 8 3 0]
[1 1 0 1 0 2 8 3 0]

In [126]:
arr1 = arr.sum(axis=0)

In [127]:
arr1

array([ 6,  6,  0,  4,  2,  4, 32,  9,  0])

In [128]:
arr1[0]

6

In [129]:
s1 = arr.astype(float)

In [131]:
for j in range(0,9):
    for i in s1:
        #print i[0]
        #print arr1[1]
        i[j] = i[j]/arr1[j]

s1

array([[ 0.02777778,  0.        ,         nan,  0.        ,  0.        ,
         0.        ,  0.00976562,  0.03703704,         nan],
       [ 0.02777778,  0.02777778,         nan,  0.0625    ,  0.25      ,
         0.        ,  0.0078125 ,  0.        ,         nan],
       [ 0.05555556,  0.05555556,         nan,  0.0625    ,  0.        ,
         0.        ,  0.        ,  0.        ,         nan],
       [ 0.02777778,  0.05555556,         nan,  0.0625    ,  0.25      ,
         0.125     ,  0.00585938,  0.03703704,         nan],
       [ 0.02777778,  0.02777778,         nan,  0.0625    ,  0.        ,
         0.125     ,  0.0078125 ,  0.03703704,         nan]])

In [132]:
scipy.stats.entropy(s1)

array([ 1.56071041,  1.32966135,        -inf,  1.38629436,  0.69314718,
        0.69314718,  1.37050239,  1.09861229,        -inf])